
@mixin font-primary{
    font-family: "Monument Extended", sans-serif;
    font-weight: normal;
    font-style: normal;
}
@mixin font-secondary-regular{
    font-family: "Playfair Display", serif;
    font-weight: 400;
}
@mixin font-secondary-bold{
    font-family: "Playfair Display", serif;
    font-weight: 700;
}