html {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
}

body {
	font-size: 1.6rem;
}

@media (inverted-colors) {
	img,
	video,
	picture {
		filter: invert(100);
	}
}
