// main grid wrap
.main-grid {
	@include grid;
	&__indent{
		max-width: 1100px;
	}
}

.container {
	width: 100%;
	max-width: 100%;
}

@include viewport-small{
	.main-grid{
		padding-left: 10px;
		padding-right: 10px;
	}
}