@mixin basic-font-style {
	@include font-secondary-regular;
	font-size: 16px;
	color: var(--color-secondary);
	transition: color $transition;
}

h1,
.headline-1,
h2,
.headline-2,
h3,
.headline-3 {
	@include font-primary;
	display: block;
}

h1,
.headline-1 {
	font-size: clamp(3.8rem, 7.292vw, 10.5rem);
}

h2,
.headline-2 {
	font-size: clamp(2.8rem, 6.389vw, 9.2rem);
}

h3,
.headline-3 {
	font-size: clamp(1.8rem, 1.667vw, 2.4rem);
	@include font-secondary-bold;
}

p {
	@include basic-font-style;
}

a {
	@include basic-font-style;
	text-decoration: none;
}

ul li,
ol li {
	@include basic-font-style;
}

ul li p,
ol li p {
	@include basic-font-style;
}

b,
strong,
.text-bold {
}

i {
	font-style: italic;
}
