@mixin basic-font-style {
	@include font-secondary-regular;
	font-size: 16px;
	letter-spacing: 0.05rem;
	line-height: 1.7;
	color: var(--color-secondary);
	transition: color $transition;
	margin-top: 0;
	
}

h1,
.headline-1,
h2,
.headline-2,
h3,
.headline-3 {
	@include font-primary;
	display: block;
}

h1,
.headline-1 {
	margin-top: 0;
	font-size: clamp(3.8rem, 8vw, 11rem);
}
.greeting{
	@include font-secondary-regular;
	font-style: italic;
}

h2,
.headline-2 {
	font-size: clamp(2.8rem, 6.389vw, 9.2rem);
}

h3,
.headline-3 {
	font-size: clamp(1.8rem, 1.528vw, 1.6rem);
	@include font-primary;
	line-height: 1.4;
	letter-spacing: .1rem;
	text-indent: clamp(1.7rem, 7vw, 10rem);
}
h4,
.headline-4 {
	text-align: right;
	font-size: clamp(1.2rem, 1.39vw, 2rem);
	@include font-primary;
	line-height: 1.3;
	letter-spacing: .1rem;
	
}

p {
	@include basic-font-style;
	margin-bottom: 3rem;
}
.text-faint{
	font-size: clamp(1.2rem, 0.7vw, 1.2rem);
	@include font-primary;
	opacity: .45;
	letter-spacing: .09rem;
}
a {
	@include basic-font-style;
	text-decoration: none;
}

ul li,
ol li {
	@include basic-font-style;
}

ul li p,
ol li p {
	@include basic-font-style;
}

b,
strong,
.text-bold {
}

i {
	font-style: italic;
}
